<div class="container" ng-controller="adminPanelController">

  <!-- TABS -->
  <h1>Administrator Panel</h1>
  <ul class="nav nav-tabs">
    <li ng-click="showAnalytics()">
      <a href="#analytics" data-toggle="tab">Analytics</a>
    </li>
    <li ng-click="showMenu()">
      <a href="#menu" data-toggle="tab">Menu</a>
    </li>
    <li ng-click="showCustomers()">
      <a href="#customers" data-toggle="tab">Customers</a>
    </li>
    <li ng-click="showOrderHistory()">
      <a href="#orderHistory" data-toggle="tab">Order History</a>
    </li>
    <li ng-click="showLoyaltyProgram()">
      <a href="#loyaltyProgram" data-toggle="tab">Loyalty Program</a>
    </li>
  </ul>

  <!-- TABS CONTENT -->
  <div class="tab-content">
    <!-- ANALYSTICS -->
    <div class="tab-pane" ng-if="analytics">
      <h2>Analytics</h2>
    </div>

    <!-- MENU -->
    <div class="tab-pane" ng-if="menu">
      <!-- SMALL PLATES -->
      <h2>Small Plates</h2>
      <table class="table table-striped">
        <tr>
          <th>Items</th>
          <th>Description</th>
          <th>Price</th>
          <th>Options</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr>
          <td>Marinated Olives with Burnt Citrus & Rosemary</td>
          <td>Olives, Burnt Citrus, Hearty Herbs *Vegan</td>
          <td>$6</td>
          <td>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </td>
          <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
        <tr>
          <td>Charcuterie Plate</td>
          <td>Ask Server For Daily Special</td>
          <td>$11</td>
          <td></td>
          <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
        <tr>
          <td>Meatballs</td>
          <td>Dry Aged Beef & Pork, Spicy Tomato Sauce</td>
          <td>$9</td>
          <td></td>
          <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
      </table>

      <!-- PIZZAS -->
      <h2>Pizzas</h2>
      <table class="table table-striped">
        <tr>
          <th>Items</th>
          <th>Description</th>
          <th>Price</th>
          <th>Options</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr>
          <td>Marinated Olives with Burnt Citrus & Rosemary</td>
          <td>Olives, Burnt Citrus, Hearty Herbs *Vegan</td>
          <td>$6</td>
          <td>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </td>
          <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
        <tr>
          <td>Charcuterie Plate</td>
          <td>Ask Server For Daily Special</td>
          <td>$11</td>
          <td></td>
          <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
        <tr>
          <td>Meatballs</td>
          <td>Dry Aged Beef & Pork, Spicy Tomato Sauce</td>
          <td>$9</td>
          <td></td>
          <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
      </table>

      <!-- DESSERTS -->
      <h2>Desserts</h2>
      <table class="table table-striped">
        <tr>
          <th>Items</th>
          <th>Description</th>
          <th>Price</th>
          <th>Options</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr>
          <td>Marinated Olives with Burnt Citrus & Rosemary</td>
          <td>Olives, Burnt Citrus, Hearty Herbs *Vegan</td>
          <td>$6</td>
          <td>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </td>
          <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
        <tr>
          <td>Charcuterie Plate</td>
          <td>Ask Server For Daily Special</td>
          <td>$11</td>
          <td></td>
          <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
        <tr>
          <td>Meatballs</td>
          <td>Dry Aged Beef & Pork, Spicy Tomato Sauce</td>
          <td>$9</td>
          <td></td>
          <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
      </table>

      <!-- BEVERAGES -->
      <h2>Beverages</h2>
      <table class="table table-striped">
        <tr>
          <th>Items</th>
          <th>Description</th>
          <th>Price</th>
          <th>Options</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr>
          <td>Marinated Olives with Burnt Citrus & Rosemary</td>
          <td>Olives, Burnt Citrus, Hearty Herbs *Vegan</td>
          <td>$6</td>
          <td>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </td>
          <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
        <tr>
          <td>Charcuterie Plate</td>
          <td>Ask Server For Daily Special</td>
          <td>$11</td>
          <td></td>
          <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
        <tr>
          <td>Meatballs</td>
          <td>Dry Aged Beef & Pork, Spicy Tomato Sauce</td>
          <td>$9</td>
          <td></td>
          <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
      </table>

    </div>

    <!-- CUSTOMERS  -->
    <div class="tab-pane" ng-if="customers">
      <h2>Customers</h2>
    </div>

    <!-- ORDER HISTORY -->
    <div class="tab-pane" ng-if="orderHistory">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
      </div>

      <table class="table table-striped">
        <tr>
          <th>Order #</th>
          <th>Last</th>
          <th>First</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>0123456789</td>
          <td>Doe</td>
          <td>Joe</td>
          <td>10/05/2017</td>
        </tr>
        <tr>
          <td>0123456789</td>
          <td>Doe</td>
          <td>Joe</td>
          <td>10/05/2017</td>
        </tr>
        <tr>
          <td>0123456789</td>
          <td>Doe</td>
          <td>Joe</td>
          <td>10/05/2017</td>
        </tr>
        <tr>
          <td>0123456789</td>
          <td>Doe</td>
          <td>Joe</td>
          <td>10/05/2017</td>
        </tr>
        <tr>
          <td>0123456789</td>
          <td>Doe</td>
          <td>Joe</td>
          <td>10/05/2017</td>
        </tr>
      </table>
    </div>

    <!-- LOYALTY PROGRAM  -->
    <div class="tab-pane" ng-if="loyaltyProgram">
      <h2>Loyalty Program</h2>
    </div>
  </div>
</div>
