<div ng-controller="OrderController">
  <link rel="stylesheet" href="cart.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">

  <div class="menu-wrapper" ng-init = "display()">
    <div class="row">
      <div class="menu-section-title">Items In Your Cart</div>
    </div>
      <div class="row">
        <div class="row" ng-repeat="item in Cart track by $index">
          <div class="row" ng-show="item.item.show">
            <div class="col-sm-8 col-sm-offset-2 item-header">
              {{ item.item.name }}
            </div>
            <div class="col-xs-2 item-header">
              {{ item.item.price | currency}}
            </div>
          </div>

          <div class="row" ng-show="item.item.show">
            <div class="col-xs-8 col-xs-offset-2 item-description">
              {{ item.item.description }}
            </div>
            <div class="col-xs-2">
              <!-- Remove a single Item from cart-->
              <button type="button" class="remove btn-sm btn-warning" ng-click="remove(item)">
                  <span class="glyphicon glyphicon-trash"> Remove </span>
              </button>
            </div>
          </div>
          <div class="row">
            {{item.item.special}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-sm-offset-9 total">
            <label class="item-header">Total Cost: $<input type="text" ng-value = "total(item)" disabled ="disableEditting"></label>
            <div class="row">
              <div class="col-sm-7 col-sm-offset-2 procede">
                <button type="button" class="checkout btn-sm btn-success">
                    <a href="/order" onclick="location.reload()"> Order More </a>
                </button>
                <button type="button" class="checkout btn-sm btn-success">
                  <a href="/" onclick="location.reload()" style="color: white; text-decoration: none;">Proceed to Checkout</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
