<div ng-controller="OrderController">
  <link rel="stylesheet" href="cart.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">

  <div class="menu-wrapper" ng-init = "display()">
    <div class="row">
      <div class="menu-section-title">Items In Your Cart</div>
    </div>
      <div class="row">
        <div class="row" ng-repeat="item in Cart track by $index">
          <div class="row" ng-show="item.item.show">
            <div class="col-sm-8 col-sm-offset-2 item-header">
              {{ item.item.name }}
            </div>
            <div class="col-xs-2 item-header">
              {{ item.item.price | currency}}
            </div>
          </div>

          <div class="row" ng-show="item.item.show">
            <div class="col-xs-8 col-xs-offset-2 item-description">
              {{ item.item.description }}
            </div>
            <div class="col-xs-2">
              <!-- Remove a single Item from cart-->
              <button type="button" class="remove btn-sm btn-warning" ng-click="remove(item)">
                  <span class="glyphicon glyphicon-trash"> Remove </span>
              </button>
            </div>
          </div>
          <div class="row">
            {{item.item.special}}
          </div>
        </div>
        <div class="row payment">
          <div class="col-sm-2 col-sm-offset-8"><label class="item-header" style="float:right;">Total Cost:</label></div>
          <div class="col-sm-2 total">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" ng-value = "total(item)" id="c2" disabled ="disableEditting"/>
            </div>
            <!-- <label class="item-header">Total Cost: <span class="input-group-addon">$</span><input type="text" ng-value = "total(item)" disabled ="disableEditting"></label> -->
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-8 procede">
                <button type="button" class="checkout btn-sm btn-info">
                    <a class="more" href="/order" onclick="location.reload()">Order More</a>
                </button>
                <button type="button" class="checkout btn-sm btn-success">
                  <a href="/" onclick="location.reload()" style="color: white; text-decoration: none;">Proceed to Checkout</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
