<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>
    <div class="container" ng-controller="LoginController">
      <div class="row login-row">
        <h1>Please login with your credentials:</h1>
      </div><br><br><br>
      <div class="row login-row">
        <input type="text" class="form-control login-box" placeholder="Email" ng-model="email">
      </div><br><br>
      <div class="row login-row">
        <input type="password" class="form-control login-box" placeholder="Password" ng-model="password">
      </div><br><br><br>
      <div class="row login-row">
        <div class="col-md-2 col-md-offset-4">
          <button class="btn btn-primary" ng-click="loginUser()">Login</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-link">or Create New User</button>
        </div>
      </div>
    </div>

    <!-- Dependencies -->
    <script src="/public/lib/jquery/dist/jquery.min.js"></script>
    <script src="/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/public/lib/angular/angular.js"></script>
    <script src="/public/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/public/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/public/lib/lodash/dist/lodash.min.js"></script>
    <script src="/public/lib/angular-simple-logger/dist/angular-simple-logger.min.js"></script>

    <!-- Application Source Code -->
    <script src="../app/init.js"></script>
    <script src="../config/core.client.routes.js"></script>
    <script src="../factories/user.client.factory.js"></script>
    <script src="../controllers/login.client.controller.js"></script>
  </body>
</html>
