<section ng-controller="OrderController" class="container">
  <div class="row">
    <img class="img-cover" src="modules/core/client/img/Kevin/Oven.jpg"  data-image-dimensions="2500x1669" data-image-focal-point="0.5,0.5" alt="Fire"/>
  </div>
  <div class="title-wrapper">
    <div class="row">
      <div class="col"><p id="title">ORDER</p></div>
    </div>
  </div>

<div class="row">
  <div class="parallax"></div>
  <div style="height:1000px;background-color:white;">

<div class="menu-wrapper">
  <div class="menu-section-header">
    <div class="menu-section-title">SMALL PLATES</div>
  </div>
  <div class="menu-items">
    <div class="menu-item" ng-repeat="item in items">
      <div class="menu-item-title" ng-class="item.title">
        {{item.title}}
      </div>
      <div class="menu-item-description" ng-class="item.description">
        {{item.description}}
      </div>
      <div class="menu-item-price-top" ng-class="item.price">
        {{item.price}}
      </div>
      <div class="menu-item-options">
        <div class="menu-item-option" ng-class="item.option"><b>{{item.option}}</b>
          <div class="add-item">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-section">
    <div class="menu-section-header">
      <div class="menu-section-title">PIZZA</div>
    </div>
      <div class="menu-items">
        <div class="menu-item" ng-repeat="pizza in pizzas">
          <div class="menu-item-title" ng-class="pizza.title">
            {{pizza.title}}
          </div>
          <div class="menu-item-description" ng-class="pizza.description">
            {{pizza.description}}
          </div>
          <div class="menu-item-price-top" ng-class="pizza.price">
            {{pizza.price}}
          </div>
          <div class="menu-item-options">
            <div class="menu-item-option" ng-class="pizza.option"><b>{{pizza.option}}</b>
              <div class="add-item">
                <button type="button" class="btn btn-default">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-section">
      <div class="menu-section-header">
        <div class="menu-section-title">DESSERTS</div>
      </div>
      <div class="menu-items">
        <div class="menu-item" ng-repeat="dessert in desserts">
          <div class="menu-item-title" ng-class="dessert.title">
            {{dessert.title}}
          </div>
          <div class="menu-item-description" ng-class="dessert.description">
            {{dessert.description}}
          </div>
          <div class="menu-item-price-top" ng-class="dessert.price">
            {{dessert.price}}
          </div>
          <div class="menu-item-options">
            <div class="menu-item-option" ng-class="dessert.option"><b>{{dessert.option}}</b>
              <div class="add-item">
                <button type="button" class="btn btn-default">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="menu-section">
        <div class="menu-section-header">
          <div class="menu-section-title">BEVERAGES</div>
        </div>
        <div class="menu-items">
          <div class="menu-item" ng-repeat="beverage in beverages">
            <div class="menu-item-title" ng-class="beverage.title">
              {{beverage.title}}
            </div>
            <div class="menu-item-description" ng-class="beverage.description">
              {{beverage.description}}
            </div>
            <div class="menu-item-price-top" ng-class="beverage.price">
              {{beverage.price}}
            </div>
            <div class="menu-item-options">
              <div class="menu-item-option" ng-class="beverage.option"><b>{{beverage.option}}</b>
                <div class="add-item">
                  <button type="button" class="btn btn-default">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
