<section ng-controller="OrderController" class="container">
  <link rel="stylesheet" href="order.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <div class="row">
    <img class="img-cover" src="modules/core/client/img/Kevin/Oven.jpg"  data-image-dimensions="2500x1669" data-image-focal-point="0.5,0.5" alt="Fire"/>
  </div>

  <div class="title-wrapper">
    <div class="row">
      <div class="col"><p id="title">ORDER</p></div>
    </div>
  </div>


  <div class="row">
    <!-- Parallax effect-->
    <div class="parallax"></div>
      <div style="height:1000px;background-color:white;">

        <!-- Get menu items from database -->
        <div class="menu-wrapper" ng-init="getMenu()" >
          <div class="menu-section-header">
            <!-- Small Plate Items -->
            <div class="menu-section-title">SMALL PLATES</div>
          </div>
          <!-- Adding Item to Order MODAL-->
          <div id="myModal" class="w3-modal w3-animate-opacity" ng-repeat="item in items | filter: 'Small Plate'">
            <div class="w3-modal-content w3-animate-bottom w3-card-4">
              <header class="w3-container w3-blue-grey">
                <span onclick="document.getElementById('myModal').style.display='none'"
                class="w3-button w3-large w3-display-topright">&times;</span>
                  <h2>Item</h2>
              </header>
              <div class="w3-container">
                <p>{{ item.item.name }} ${{ item.item.price }}</p>

                <p>{{ item.item.description }}</p>
              </div>
              <footer class="w3-container w3-blue-grey">
                <button type="button" class="btn btn-success"><a href="/cart">Submit</a></button>
              </footer>
            </div>
          </div>
            <div class="row justify-content-md-center">
              <div class="col-sm-4" ng-repeat="item in items | filter: 'Small Plate'">

                <div class="row">
                  <div class="col-md-6 col-md-offset-2">
                    <!-- Picture of Item-->
                    <img src="http://via.placeholder.com/200x200">
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-sm-offset-2">
                    {{ item.item.name }}
                  </div>
                  <div class="col-xs-2 col-sm-offset-2">
                    ${{ item.item.price }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-9 col-xs-offset-2">
                    {{ item.item.description }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4 col-xs-offset-10">
                    <!-- Add Item to Cart-->
                    <button type="button" class="btn btn-default" onclick="document.getElementById('myModal').style.display='block'" class="w3-button w3-black">
                      <span class="glyphicon glyphicon-shopping-cart"></span>Add
                    </button>

                  </div>
                </div>
              </div>
            </div>
            <!-- Pizza Items -->
            <div class="menu-section">
              <div class="menu-section-header">
                <div class="menu-section-title">PIZZA</div>
                <!-- Adding Item to Order MODAL-->
                <div id="myModal2" class="w3-modal w3-animate-opacity" ng-repeat="item in items | filter: 'Pizza'">
                  <div class="w3-modal-content w3-animate-bottom w3-card-4">
                    <header class="w3-container w3-blue-grey">
                      <span onclick="document.getElementById('myModal2').style.display='none'"
                      class="w3-button w3-large w3-display-topright">&times;</span>
                        <h2>Item</h2>
                    </header>
                    <div class="w3-container">
                      <p>{{ item.item.name }} ${{ item.item.price }}</p>

                      <p>{{ item.item.description }}</p>
                      <p>Add:</p>
                      <form>
                        <div class="checkbox">
                          <label><input type="checkbox" value="">Extra Cheese</label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" value="">Pepperoni</label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" value="">Basil</label>
                        </div>
                      </form>
                    </div>
                    <footer class="w3-container w3-blue-grey">
                      <button type="button" class="btn btn-success"><a href="/cart">Submit</a></button>
                    </footer>
                  </div>
                </div>
              </div>

              <div class="row justify-content-md-center">
                <div class="col-sm-4" ng-repeat="item in items | filter: 'Pizza'">
                  <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                      <!-- Picture of Item-->
                      <img src="http://via.placeholder.com/200x200">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">
                      {{ item.item.name }}
                    </div>
                    <div class="col-xs-2 col-sm-offset-2">
                      ${{ item.item.price }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-9 col-xs-offset-2">
                      {{ item.item.description }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 col-xs-offset-10">
                      <!-- Add Item to Cart-->
                      <button type="button" class="btn btn-default" onclick="document.getElementById('myModal2').style.display='block'" class="w3-button w3-black">
                        <span class="glyphicon glyphicon-shopping-cart"></span>Add
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Dessert Items -->
            <div class="menu-section">
              <div class="menu-section-header">
                <div class="menu-section-title">DESSERTS</div>
                <!-- Adding Item to Order MODAL-->
                <div id="myModal3" class="w3-modal w3-animate-opacity" ng-repeat="item in items | filter: 'Dessert'">
                  <div class="w3-modal-content w3-animate-bottom w3-card-4">
                    <header class="w3-container w3-blue-grey">
                      <span onclick="document.getElementById('myModal3').style.display='none'"
                      class="w3-button w3-large w3-display-topright">&times;</span>
                        <h2>Item</h2>
                    </header>
                    <div class="w3-container">
                      <p>{{ item.item.name }} ${{ item.item.price }}</p>

                      <p>{{ item.item.description }}</p>
                    </div>
                    <footer class="w3-container w3-blue-grey">
                      <button type="button" class="btn btn-success"><a href="/cart">Submit</a></button>
                    </footer>
                  </div>
                </div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-sm-4" ng-repeat="item in items | filter: 'Dessert'">
                  <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                      <!-- Picture of Item-->
                      <img src="http://via.placeholder.com/200x200">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">
                      {{ item.item.name }}
                    </div>
                    <div class="col-xs-2 col-sm-offset-2">
                      ${{ item.item.price }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-9 col-xs-offset-2">
                      {{ item.item.description }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 col-xs-offset-10">
                      <!-- Add Item to Cart-->
                      <button type="button" class="btn btn-default" onclick="document.getElementById('myModal3').style.display='block'" class="w3-button w3-black">
                        <span class="glyphicon glyphicon-shopping-cart"></span>Add
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Beverage Items -->
            <div class="menu-section">
              <div class="menu-section-header">
                <div class="menu-section-title">BEVERAGES</div>
                <!-- Adding Item to Order MODAL-->
                <div id="myModal4" class="w3-modal w3-animate-opacity" ng-repeat="item in items | filter: 'Beverage'">
                  <div class="w3-modal-content w3-animate-bottom w3-card-4">
                    <header class="w3-container w3-blue-grey">
                      <span onclick="document.getElementById('myModal4').style.display='none'"
                      class="w3-button w3-large w3-display-topright">&times;</span>
                        <h2>Item</h2>
                    </header>
                    <div class="w3-container">
                      <p>{{ item.item.name }} ${{ item.item.price }}</p>

                      <p>{{ item.item.description }}</p>
                    </div>
                    <footer class="w3-container w3-blue-grey">
                      <button type="button" class="btn btn-success"><a href="/cart">Submit</a></button>
                    </footer>
                  </div>
                </div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-sm-4" ng-repeat="item in items | filter: 'Beverage'">
                  <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                      <!-- Picture of Item-->
                      <img src="http://via.placeholder.com/200x200">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">
                      {{ item.item.name }}
                    </div>
                    <div class="col-xs-2 col-sm-offset-2">
                      ${{ item.item.price }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-9 col-xs-offset-2">
                      {{ item.item.description }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 col-xs-offset-10">
                      <!-- Add Item to Cart-->
                      <button type="button" class="btn btn-default" onclick="document.getElementById('myModal4').style.display='block'" class="w3-button w3-black">
                        <span class="glyphicon glyphicon-shopping-cart"></span>Add
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
