@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}

input[type=text] {
  border: 4px solid lightblue;
  border-radius: 4px;
  background-color: black;
  color: white;
}

input[type=text]:focus {
  border: 4px solid green;
}

input[type=email] {
  border: 4px solid lightblue;
  border-radius: 4px;
  background-color: black;
  color: white;
}

input[type=email]:focus {
  border: 4px solid green;
}

input[type=password] {
  border: 4px solid lightblue;
  border-radius: 4px;
  background-color: black;
  color: white;
}

input[type=password]:focus {
  border: 4px solid green;
}

h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}

h3 { 
  margin-top: 20px;
  margin-bottom: 15px; 
}