<section class="row" ng-controller="AuthenticationController">

  <!-- Below is commented out bc I want the sign-in options on the bottom -->
  
  <!-- <h3 class="col-md-12 text-center">Sign in using your social accounts</h3>
  <div class="col-md-12 text-center"> -->
    <!-- Flush out the outdated logos and incorporate the new logos -->
    <!-- <img ng-click="callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/client/img/buttons/facebook.jpg"> 
    <img ng-click="callOauthProvider('/api/auth/google')" ng-src="/modules/users/client/img/buttons/google.jpg">
  </div> -->
  <div ui-view></div>
</section>
