.container {
    padding: 0;
    width: 100%;
  }
  .col {
    height: 125px;
    float: left;
  }

  .col.order.middle {
    height: 400px;
    width: 100%;
    text-align: center;
    line-height: 400px;
  }

  .col.order.main {
    height: 500px;
    width: 100%;
  }

  .row {
    max-width: 100%;
    margin: 0;
  }

  .col.half {
    width: 50%;
    display: table-cell;
    vertical-align: bottom;
    padding-top: 20px;
    padding-left: 80px;
  }

  .col.third {
    width: 33.33%;
  }

  img.logo {
    width: 400px;
    height: 68px;
    float: left;
    vertical-align: bottom;
  }

  #menu-outer {
    height: 84 px;
    padding-right: 40px;
  }

  .table {
    display: table;
    margin: 0 auto;
  }

  ul#horizontal-list {
    min-width: 696 px;
    list-style: none;
    padding-top: 20px;
    float: right;
    text-decoration: none;
  }

  ul#horizontal-list li {
    display: inline;
    font-family: Futura;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: .015em;
    line-height: 1.8em;
    color: #a3a3a3;
    margin: 1em;
    text-decoration: none;
  }

  li a:hover {
    opacity: .5;
    text-decoration: none;
  }

  a#current {
    color: rgba(255,255,255,.4);
    text-decoration: none;
  }

  a#link {
    color: #fff;
    text-decoration: none;
  }

  h1.page-title {
    font-family: Cooper Black;
    font-size: 82px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1em;
    text-decoration: none;
    max-width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    z-index: inherit;
    color: #fff;
  }

  .footer {
    width: 100%;
    background-color: #3c342f;
    float: left;
  }

  .footer-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 8%;
    color: #fff;
  }



  h3.footer-wrapper {
    font-family: Futura;
    font-size: 22px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    letter-spacing: .015em;
    text-decoration: none;
    line-height: 1.8em;
  }

  body {
    font-family: Proxima-Nova;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: .015em;
    line-height: 1.8em;
  }

  .tableWrapper {
    max-height: 400px;
    overflow: auto;
  }
