.content {
  margin-top: 0;
}
.container{
  width: 100%;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 0 !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*NAV-BAR-*/
.navbar-nav.navbar-right li a{
  align-items: flex-end;
  margin: 0;
  padding-top: 20px;
  border: none;

  line-height: 72px;
  height: 72px;
  color: white;

}

.navbar-nav.navbar-right li a:hover{
  color: white;
  opacity: .75;
  text-decoration: none;
  background-color: none;
}

.navbar-header, .navbar-inverse{
  height: 150px;
  background: none;
  border: none;

}

/*MENU STYLES*/
.menu-section-title{
  text-align: center;
  font-family: cooper-black-std;
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: .015em;
  text-decoration: none;

  color: #333;

}
.menu-wrapper {
    font-family: futura-pt;
    font-weight: 300;
    font-size: 22px;
    text-transform: none;
    font-style: normal;
    letter-spacing: .015em;
    text-decoration: none;
    margin: 0 0 .5em;
    line-height: 1.8em;
    color: #333;
    padding: 100px 9%;
}
.menu-items{
  column-width: 19em;
    column-gap: 2em;
    color: #a3a3a3;

}
.menu-item{
  page-break-inside: avoid;
break-inside: avoid;
width: 100%;
padding-bottom: 3em;
}

.menu-item-price-top{
  float: right;
  padding-left: 20px;
}
.menu-item-price-bottom{
  display: none;
}
.menu-item-options{
  font-size: .8em;
  font-style: italic;

}

.add-item{
  float: right;
  padding: 0;
  margin: 0;
  font-style: normal;
}

/*TEXT and parallax*/
p{
  padding-top: 100px;
  position: relative;
  text-align: center;
  font-family: cooper-black-std;
  font-size: 100px;
  font-weight: 900;
  color: white;
}
.parallax{
  min-height: 300px;
   margin: 0;
   padding: 0;
   max-width: 100%;
}


/*.img-wrapper {
  width: auto;
  margin: 0;
  height: 500px;
}*/

.glyphicon-shopping-cart{
  padding-top: .2em;
  font-size: 1.1em;
}

.img-cover{
  font-size: 0;
  left: 0;
  width: 100%;
  height: auto;
  position: absolute;
  transform: translate3d(0px, 0px, 0px);
  opacity: .90;
  border: 0;
  z-index: -1;
}

.img-overlay {
  top: 50px;
  bottom: 0;
  left: 0;
  right: 20px;
  text-align: right;
  opacity: 1;
  position: absolute;
  z-index: inherit;

}
/*hello*/

/*.img-amer {
  padding-top: 25px;
  padding-left: 50px;
  margin: 0;
  text-align: left;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  position: absolute;
  z-index: inherit;
}*/
.image{
  max-width: 68%;
  height: auto;
  padding-top: 30px;

}
.col{
  padding-top: 370px;

}


/*.btn-link {
  background: none;
  border: none;
  margin: 0;
  padding: 10;
  color: white;
  line-height: 2em;
  font-family: futura-pt;
  font-size: 20px;
}
*/

u1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  font-family: futura-pt;
  line-height: 2em;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .1em;
  font-style: normal;
  text-transform: uppercase;
  color: white;
}

li a{
color: white;
padding: 10px;

}

li a:hover{
  color: white;
  opacity: .75;
  text-decoration: none;
}

/*li a:active{
  color: white;
  opacity: .5;
  text-decoration: none;
}*/

a#link{
  color: white;
}

a#current {
  color: rgb(255, 255, 255);
}



/*span{
font-family: cooper-black-std;
color: black;
font-size: 82px;
font-weight: 400;
text-transform: uppercase;
font-style: normal;
line-height: 1em;
text-decoration: none;
max-width: 100%;
display: inline-block;

}*/

.title-wrapper {

  display: flex;
  justify-content: center;
  left: 0;
  width: 100%;
  height: auto;

}

h1.page-title{
    /*font-family: "Source Sans Pro",sans-serif;*/
    font-weight: 700;
    font-family: "cooper-black-std";
    font-size: 82px;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: .015em;
    line-height: 1em;
    text-decoration: none;
    max-width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 80px 0;
    color: #fff;
    position: relative;
    z-index: inherit;
}

h1{
    /*font-family: "Source Sans Pro",sans-serif;*/
    /*font-size: 2em;*/
    font-weight: 600;
    /*letter-spacing: 2px;*/
    font-family: "cooper-black-std";
    font-size: 36px;
    /*font-weight: 400;*/
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: .015em;
    text-decoration: none;
    line-height: 1.2em;
}
